* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.app {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: repeat(auto-fit, minmax(1fr));
  height: 100vh;
}

.page-title {
  // color: #ed3a3a;
  color: black;
  letter-spacing: -2px;
  display: inline-block;
  font-weight: 300;
  padding: 24px 0px 25px 24px;
  margin-top: 0px;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  background-color: #fafafa;
  border-left: 38px solid #ed3a3a;
  text-transform: uppercase;
  font-size: 48px;
}

.content {
  background-color: #e0e0e0;
  grid-column: 2/3;
  grid-row: 1/4;
  padding-bottom: 200px;
}

.material-icons {
  color: #ed3a3a;
}

.submit {
  color: #ed3a3a !important;
  font-weight: 600;
}

.chart-title {
  padding: 20px;
  text-align: center;
}
