.addEmployee {
  padding: 10px;

  button[type='submit'] {
    color: #ed3a3a;
  }

  .input-field label {
    color: #000;
  }
  /* label focus color */
  .input-field input[type]:focus + label {
    color: #000;
  }
  /* label underline focus color */
  .input-field input[type]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* valid color */
  .input-field input[type].valid {
    border-bottom: 1px solid green;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  .input-field input[type].invalid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 #000;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #ed3a3a;
  }
}
