.addEmployee {
  &__wrapper {
    padding: 10px;
  }

  .input-field .prefix.active {
    color: #ed3a3a;
  }

  .input-field label {
    color: #000;
  }
  .input-field input[type]:focus + label {
    color: #000;
  }
  .input-field input[type]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
}
