.instruction {
  //   padding: 30px 30px 100px 30px;

  &__navigation {
    font-size: 1.4rem;
    padding: 20px !important;
    border-bottom: 1px solid black;

    & a {
      color: black;
    }
  }

  .section-title {
    font-size: 2.56rem;
    padding: 0;
    margin: 0;
  }

  .section {
    max-width: 1000px;
    margin-left: 40px;
  }

  .paragraph {
    font-size: 1.1rem;
    margin: 30px 0px;
    display: inline-block;
  }

  .paragraph--small {
    font-size: 1.1rem;
    margin: 20px 0px;
    display: inline-block;
  }

  &__icon {
    margin-right: 10px;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }
}
