.employees {

  &__filterWrapper {
    width: 80%;
    padding: 0px 20px;
  }

  &__filter--title {
    font-weight: 300;
  }

  .input-field .prefix.active {
    color: #ed3a3a;
  }

  .input-field input[type=number]::-webkit-inner-spin-button, 
  .input-field input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

  .input-field label {
    color: #000;
  }
  .input-field input[type]:focus + label {
    color: #000;
  }
  .input-field input[type]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
}
